In [15]:

import selenium
from selenium import webdriver
import time
import requests
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.common.exceptions import NoSuchElementException
import re
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

In [16]:
#loading the chrome browser
driver= webdriver.Chrome(r'C:/chromedriver_win32/chromedriver.exe')

In [17]:
driver.get('https://www.olx.in/cars_c84')

In [18]:
urls = []

In [19]:
for i in range(50):
    for j in driver.find_elements_by_xpath('//li[@class="_31j8e"]/a'):
        urls.append(j.get_attribute('href'))
    
btn=driver.find_element_by_xpath('//li[@class="_3OF2S"]/div')
btn.click()

In [20]:
len(urls)

2000

In [21]:
urls[1]

'https://www.olx.in/item/maruti-suzuki-omni-8-seater-bsiv-2018-petrol-iid-1689106516'

In [22]:
brand =[]
year =[]
km=[]
fuel=[]
owners=[]
price=[]

In [23]:
for i in urls[:]:
    driver.get(i)
    time.sleep(1)
    
    try:
        brand_tags=driver.find_element_by_xpath('//div[@data-aut-id="itemTitle"]')
        brand.append(brand_tags.text.split('\n')[0][:-7])
    except NoSuchElementException:
        brand.append(" ")
      
           
    try:
        year_tags=driver.find_element_by_xpath('//div[@data-aut-id="itemTitle"]')
        year.append(year_tags.text.split('\n')[0][-5:-1])
    except NoSuchElementException:
        year.append(" ")
        
        
    try:
        km_tags=driver.find_element_by_xpath('//div[@class="aOxkz"]/div[2]/div')
        km.append(km_tags.text.split('\n')[0][:-3])
    except NoSuchElementException:
        km.append(" ")
        
        
    try:
        fuel_tags=driver.find_element_by_xpath('//div[@class="aOxkz"]/div[1]/div')
        fuel.append(fuel_tags.text)
    except NoSuchElementException:
        fuel.append(" ")
        
        
    try:
        owners_tags=driver.find_element_by_xpath('//div[@class="_1gasz"]')
        owners.append(owners_tags.text)
    except NoSuchElementException:
        owners.append(" ")
        
        
    try:
        price_tags=driver.find_element_by_xpath('//div[@data-aut-id="itemPrice"]')
        price.append(price_tags.text.split('\n')[0][2:].replace(',', ''))
    except NoSuchElementException:
        price.append(" ")

In [30]:
#finding out the lengths of all the columns
len(brand),len(year),len(km),len(fuel),len(owners),len(price)

(2000, 2000, 2000, 2000, 2000, 2000)

In [31]:
#creating the dataset
df=pd.DataFrame({'Brand' : brand,'Year':year,'KMT':km,'Fuel':fuel,'Owners':owners,'Price':price})

In [32]:
df

                      Brand  Year      KMT           Fuel  Owners    Price
0         Hyundai Elite I20  2019  73700.0         DIESEL     1st   800000
1        Maruti Suzuki Omni  2018  75350.0         PETROL     1st   365000
2                    Bmw X3  2014  76654.0         DIESEL     2nd  1700000
3               Tata Safari  2004   160000         DIESEL  Second    90000
4          Mahindra Scorpio  2009   120000         DIESEL  Second   325000
...                     ...   ...      ...            ...     ...      ...
1995              Tata Zest  2014  80499.0         PETROL     1st   399000
1996  Maruti Suzuki Celerio  2015  45791.0         PETROL      --   399000
1997            Honda Amaze  2016   61,200  CNG & HYBRIDS     1st   385000
1998   Maruti Suzuki Ertiga  2014  990,000         DIESEL     3rd   550000
1999      Hyundai Grand I10  2015  40000.0         PETROL     1st   430000

[2000 rows x 6 columns]

In [34]:
#saving it to a csv file
df.to_csv('olx_car_data', index=False)